.container
  margin: auto
  padding-right: $gutter
  padding-left: $gutter
  width: $container-mobile

  +tablet()
    width: $container-tablet

  +desktop()
    width: $container-desktop

  +widescreen()
    width: $container-widescreen

  +ultrawide()
    width: $container-ultrawide
