/**
 * colors
 */
$magenta = #F2248F
$blue = #007fff
$cyan = #3D8EF2
$green = #36D9B0
$yellow = #fbc300
$orange = #FF6F00
$red = #F22435
$aqua = #00FCFE
/**
 * Graysacle
 */
$black = #000000
$dark = #555555
$slategray = #999999
$gray = #e5e5e5
$light = #F6F5FD
$white = #FFFFFF
/**
 * theme colors
 */
$primary = $blue
$secondary = $magenta
$danger = $red
$success = $green
$warning = $yellow
$info = $cyan
$link = $blue
