/**
 * Device Breakpoint
 */
$mobile ?= 0
$tablet ?= 768px
$desktop ?= 991px
$widescreen ?= 1360px
$ultrawide ?= 1920px
/**
 * style
 */
$margin ?= 0.5em
$padding ?= 0.5em
$padding-px ?= 20px
$modal-spacing ?= 2em
$border-radius ?= 4px
$border-radius-large ?= 8px
